include header

block content
  h1= title
  p If anyone want to contact me: 
  h2 #{comment}
     <li><a href="https://www.linkedin.com/in/ravneetbhullar/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
     <li><a href="https://github.com/200395994" class="icon fa-github"><span class="label">Github</span></a></li>
