
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    block content
      .col-md-12
        .col-md-2
            a(href='/about') About
        .col-md-2
            a(href='/home') Home
        .col-md-2
            a(href='/contact') Contact
        .col-md-2
            a(href='/projects') Projects
        .col-md-2
            a(href='/services') Services
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
